<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="home.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Jomolhari&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Anton&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Pacifico&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Titillium+Web:200,300,400,700">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">
</head>

<body style="padding-top: 50px">

    <nav class="navbar navbar-expand-lg navbar-dark bg-navbar fixed-top">
        <a class="navbar-brand" href="/home ">Chalk & Chauser</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                          <span class="navbar-toggler-icon"></span>
                        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/home">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">News</a>

                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Our Staff</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Contact Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/adminstudentinfo">Student Information</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/paymentinfo">Payment Info</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/payform">Add Payments</a>
                </li>

            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item ">
                    <a class="nav-link " href="/login">Sign In</a>
                </li>

            </ul>

        </div>
    </nav>

    <div class="container">
        <div class="row">
            <div class="col-sm-12 ">
                <h1 class="heading">CHALK & CHAUSER SCHOOL OF ENGLISH</h1>
                <p id="motto">Dedicated to Standard of Excellence</p>
            </div>
        </div>
    </div>



    <!-- Slider 1 -->
    <div class="slider" id="slider1">
        <!-- Slides -->
        <div style="background-image:url(/images/homeimage.jpg ) "> </div>
        <div style="background-image:url(/images/slideimg2.jpg)"></div>
        <div style="background-image:url(/images/slideimg3.jpg)"></div>
        <div style="background-image:url(/images/img2.jpg)"></div>

        <!-- The Arrows -->
        <i class="left" class="arrows" style="z-index:2; position:absolute;"><svg viewBox="0 0 100 100"><path d="M 10,50 L 60,100 L 70,90 L 30,50  L 70,10 L 60,0 Z"></path></svg></i>
        <i class="right" class="arrows" style="z-index:2; position:absolute;"><svg viewBox="0 0 100 100"><path d="M 10,50 L 60,100 L 70,90 L 30,50  L 70,10 L 60,0 Z" transform="translate(100, 100) rotate(180) "></path></svg></i>
        <!--Title Bar -->
        <!-- <span class="titleBar">
         <h1>This Slider has all default settings.</h1> 
    </span> -->
    </div>
    <div>
        <div class=" " style="margin-top: 2%">
            <h1 style="padding: 1%; color: rgb(17, 5, 197);  font-weight: 700; font-size: 4em; font-family: 'Lato', sans-serif; text-align: center; ">Why you must choose CHALK & CHAUSER?</h1>
        </div>


        <div class="container-fluid;">

            <div class="row " style="background-color: rgba(118, 177, 245, 0.712); background-size: cover; height:auto;  ">
                <div class="col-sm-6 col-lg-6 border">
                    <div class="ml-3 mt-3 mb-2 mr-2" style="padding-left: 1%">
                        <h1 style="text-align: center; color: rgb(19, 18, 18) ">We have a history!</h1>
                        <P class=" " style="color: rgb(14, 13, 13); display: block; font-weight: 500; font-size: 18px ">We are the pioneers of English education from 1999 in Anuradhapura. We are devoted to make your child a future leader.We gives the proper English language education which includes speaking, reading & writing. Only from our institute
                            your child will be able to develop all these four skills.
                        </P>
                    </div>

                </div>

                <div class="col-sm-6 col-lg-6 border" style="text-align: center; font-weight: 500; font-size: 18px ">
                    <div class="mt-2 pt-2">
                        <h2 style="font-weight: bold; color: rgb(15, 14, 14)">In our institute we have</h2>
                        <ul class="list-unstyled " style="color: rgb(19, 18, 18)">
                            <li>A friendly environment</li>
                            <li> A Play ground</li>
                            <li>Personal development</li>
                            <li> Educatioal materials</li>
                        </ul>
                    </div>







                </div>

            </div>

        </div>
    </div>

    <div>hi how are you</div>


    <!-- partial -->
    <!-- <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script> -->
    <script src="/scripts/script.js "></script>










</body>

</html>