.formbeautify {
    margin: 2% auto;
    width: 30%;
    text-align: center;
}

#logo {
    display: block;
    margin: 10px auto;
    width: 20%;
}

.bg-navbar {
    background-color: rgb(8, 8, 117);
}

.navbar-nav .nav-item .nav-link {
    color: white;
    font-family: 'Jomolhari', serif;
    font-weight: 500px;
    /* line-height to allow full clickable area */
}

.navbar-nav .nav-item.active .nav-link,
.navbar-nav .nav-item:hover .nav-link {
    color: black;
    background-color: rgb(11, 223, 205);
}